<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Posts by <% author %></title>

        <meta name="description" content="View posts written by <%= author %>" />
        
        <meta property="og:title" content="Posts by <%= author %>" />
        <meta property="og:description" content="View posts written by <%= author %>" />
        <meta property="og:image" content="https://screenshot.jamesg.blog/?url=<%= url %>" />
        <meta property="article:author" content="<%= author %>" />

        <link rel="alternate" type="application/rss+xml" title="Posts by <%= author %>" href="https://bsky.link/feed?user=<%= author %>" />

        <link rel="icon" href="https://bsky.link/favicon.png" type="image/x-icon" />

        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <main>
            <ul class="h-feed">
                <h1 class="p-name">Posts by <%= author %></h1>
                <% for (let i = 0; i < posts.length; i++) { %>
                <li class="h-entry">
                    <hr>
                    <% if (posts[i].reason) { %>
                        <div class="author reposted-by">
                            <img src="<%= posts[i].reason.by.avatar %>" alt="<%= posts[i].post.author.displayName %>'s profile picture" height="50" width="50" class="u-photo">
                            <div class="author-name">
                                <p>Reposted by <a href="https://staging.bsky.app/profile/<%= posts[i].reason.by.handle %>" class="u-url"><%= posts[i].reason.by.handle %></a></p>
                            </div>
                        </div>
                        <% if (posts[i].reason) { %>
                            <div style="margin-left: 25px">
                        <% } %>
                    <% } %>
                    <div class="author h-card">
                        <img src="<%= posts[i].post.author.avatar %>" alt="<%= posts[i].post.author.displayName %>'s profile picture" height="50" width="50" class="u-photo">
                        <div class="author-name">
                            <h2><%= posts[i].post.author.displayName %></h2>
                            <p class="p-nickname"><a href="https://staging.bsky.app/profile/<%= posts[i].post.author.handle %>" class="u-url"><%= posts[i].post.author.handle %></a></p>
                        </div>
                    </div>
                    <blockquote>
                        <span class="e-content"><%= posts[i].post.record.text %></span>
                        <% if (posts[i].post.embed_type == "record") { %>
                            <div class="embed inner-embed">
                                <div class="author p-author h-card">
                                    <img src="<%= posts[i].post.embed.author.avatar %>" alt="<%= posts[i].post.embed.author.displayName %>'s profile picture" height="50" width="50">
                                    <div class="author-name">
                                        <h2><%= posts[i].post.embed.author.displayName %></h2>
                                        <p class="p-nickname"><a href="https://staging.bsky.app/profile/<%= posts[i].post.embed.author.handle %>" class="u-url p-name"><%= posts[i].post.embed.author.handle %></a></p>
                                    </div>
                                </div>
                                <blockquote>
                                    <%= posts[i].post.embed.value.text %>
                                </blockquote>
                            </div>
                        <% } else if (posts[i].post.embed_type == "images") { %>
                            <% for (let j = 0; j < posts[i].post.embed.length; i++) { %>
                                <img src="<%= posts[i].post.embed[j].fullsize %>" alt="<%= posts[i].post.embed[j].alt %>" class="embedded-image u-image" />
                            <% } %>
                        <% } %>
                    </blockquote>
                    <a href="<%= post_url %>" class="permalink"><time class="dt-published datelink" datetime="<%= posts[i].post.record.createdAt %>"><%= posts[i].post.record.createdAt %></time></a>
                    <div class="post-actions">
                        <a href="<%= post_url %>">❤️ <%= posts[i].post.replyCount %> likes</a>
                        <a href="<%= post_url %>">🔄 <%= posts[i].post.repostCount %> reposts</a>
                        <a href="<%= post_url %>">💬 <%= posts[i].post.replyCount %> replies</a>
                    </div>
                    <% if (posts[i].reason) { %>
                        </div>
                    <% } %>
                </li>
                <% } %>
            </ul>
        </main>
    </body>
</html>
