<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Post by <% author.displayName %></title>

        <meta name="description" content="<%= data.text %>" />
        
        <meta property="og:title" content="Post by <%= author.displayName %>" />
        <meta property="og:description" content="<%= data.text %>" />
        <meta property="og:image" content="https://screenshot.jamesg.blog/?url=<%= url %>" />
        <meta property="article:author" content="<%= author.handle %>" />

        <link rel="icon" href="https://bsky.link/favicon.png" type="image/x-icon" />

        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <main>
            <div class="author">
                <img src="<%= author.avatar %>" alt="<%= author.displayName %>'s profile picture" height="50" width="50">
                <div class="author-name">
                    <h2><%= author.displayName %></h2>
                    <p><%= author.handle %></p>
                </div>
            </div>
            <%= data.record %>
            <blockquote>
                <%= data.text %>
                <% if (embed_type == "record") { %>
                    <div class="embed inner-embed">
                        <div class="author">
                            <img src="<%= embed.author.avatar %>" alt="<%= embed.author.displayName %>'s profile picture" height="50" width="50">
                            <div class="author-name">
                                <h2><%= embed.author.displayName %></h2>
                                <p><%= embed.author.handle %></p>
                            </div>
                        </div>
                        <blockquote>
                            <%= embed.value.text %>
                        </blockquote>
                    </div>
                <% } else if (embed_type == "images") { %>
                    <% for (let i = 0; i < embed.length; i++) { %>
                        <img src="<%= embed[i].fullsize %>" alt="<%= embed[i].alt %>" class="embedded-image" />
                    <% } %>
                <% } %>
            </blockquote>
        </main>
    </body>
</html>