<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Post by <% author.displayName %></title>

        <meta name="description" content="<%= data.text %>" />
        
        <meta property="og:title" content="Post by <%= author.displayName %>" />
        <meta property="og:description" content="<%= data.text %>" />
        <meta property="og:image" content="https://screenshot.jamesg.blog/?url=<%= url %>" />
        <meta property="article:author" content="<%= author.handle %>" />

        <link rel="icon" href="https://bsky.link/favicon.png" type="image/x-icon" />

        <% if (embed_type == "images") { %>
            <meta property="og:image" content="<%= embed[0].fullsize %>" />
        <% } %>

        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <main class="h-entry">
            <div class="author p-author h-card">
                <img src="<%= author.avatar %>" alt="<%= author.displayName %>'s profile picture" height="50" width="50" class="u-photo">
                <div class="author-name">
                    <h2 class="p-name"><%= author.displayName %></h2>
                    <p class="p-nickname"><a href="https://staging.bsky.app/profile/<%= author.handle %>" class="u-url"><%= author.handle %></a></p>
                </div>
            </div>
            <%= data.record %>
            <blockquote>
                <span class="e-content"><%= data.text %></span>
                <% if (embed_type == "record") { %>
                    <div class="embed inner-embed">
                        <div class="author p-author h-card">
                            <img src="<%= embed.author.avatar %>" alt="<%= embed.author.displayName %>'s profile picture" height="50" width="50">
                            <div class="author-name">
                                <h2><%= embed.author.displayName %></h2>
                                <p class="p-nickname"><a href="https://staging.bsky.app/profile/<%= embed.author.handle %>" class="u-url p-name"></a><%= embed.author.handle %></a></p>
                            </div>
                        </div>
                        <blockquote>
                            <%= embed.value.text %>
                        </blockquote>
                    </div>
                <% } else if (embed_type == "images") { %>
                    <% for (let i = 0; i < embed.length; i++) { %>
                        <img src="<%= embed[i].fullsize %>" alt="<%= embed[i].alt %>" class="embedded-image u-image" />
                    <% } %>
                <% } %>
            </blockquote>
            <a href="<%= post_url %>" class="permalink u-url u-uid"><time class="dt-published datelink" datetime="<%= created_at %>"><%= created_at %></time></a>
            <div class="post-actions">
                <a href="<%= post_url %>">❤️ <%= like_count %> likes</a>
                <a href="<%= post_url %>">🔄 <%= repost_count %> reposts</a>
                <a href="<%= post_url %>">💬 <%= reply_count %> replies</a>
            </div>
        </main>
    </body>
</html>
