<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Bluesky Post by <% author.displayName %></title>
    </head>
    <body>
        <main>
            <style>
                * {
                    font-family: Arial, Helvetica, sans-serif;
                    box-sizing: border-box;
                }
                html {
                    padding: 10px;
                }
                img {
                    border-radius: 50%;
                }
                .author {
                    display: flex;
                    align-items: center;
                }
                .author-name h2, .author-name p {
                    margin: 0;
                }
                .author-name {
                    margin-left: 10px;
                }
                blockquote {
                    margin-left: 0;
                    padding: 0;
                    border-left: 5px solid #ccc;
                    padding-left: 10px;
                }
                main {
                    max-width: 500px;
                }
            </style>
            <div class="author">
                <img src="<%= author.avatar %>" alt="<%= author.displayName %>'s profile picture" height="50" width="50">
                <div class="author-name">
                    <h2><%= author.displayName %></h2>
                    <p><%= author.handle %></p>
                </div>
            </div>
            <blockquote><%= data.text %></blockquote>
        </main>
    </body>
</html>